.container {
    display: grid;
    grid-template-areas:
            "image artist"
            "image title";
    justify-content: start
}
.image{
    grid-area: image;
}
.artist{
    grid-area: artist;
}
.title{
    grid-area: title;
}