.container {
    margin: 10px;
    display: grid;
    grid-template-areas:
            "image title"
            "image artist";
    justify-content: start;
    gap: 10px;
}
.image{
    grid-area: image;
}
.artist{
    grid-area: artist;
}
.title{
    grid-area: title;
    font-size: 1.1rem;
    font-weight: bold;
}